#Navigationul{
    width: 900px;
    padding: 20px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000a68;
    border-bottom: 1px solid #000a68;
    text-align: center;
}

#Navigationli{
    display: inline;
    margin: 0px 3px;
    font-size: 30px;
    
}

#Navigationa{
    color: #0b5a00;
    text-decoration: none;
    

}

#Navigationa:hover, a.on{
    color: #0e008a;
    background-color: #353535;
}